<!DOCTYPE html>
<html>
  <head>
    <title> Spotify Playlist Creator </title>
    <style type="text/css">
      body {
          background: linear-gradient(180deg,mediumspringgreen, darkslategrey) fixed;
          text-align: center;
      }
      p {
          margin-top: auto;
          padding-top: 150px;
          width: 850px;
          margin-left: auto;
          margin-right: auto;
          font-family: Futura Md BT,sans-serif;
          letter-spacing: 1px;
          font-size: xx-large;
      }

      img {
          size: 80%;
          margin-top: 60px;
      }


    </style>
  </head>

  <body>
      <p>The playlist is ready!
        Scan the barcode with your mobile Spotify app to go listen to it!
      </p>
      <img src="{{url_for('static', filename='sample_image.png')}}" width="400" height="100"alt="The playlist barcode">
  </body>
</html>
